name: CI

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: kysely_hydrate_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 2s
          --health-timeout 5s
          --health-retries 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: "npm"
      - run: npm ci
      - run: npm run format -- --check
      - run: npm run lint
      - run: npm run typecheck
      - run: npm run typecheck:tsc
      - run: npm run test
        env:
          RUN_POSTGRES_TESTS: 1
          POSTGRES_URL: postgres://postgres:postgres@localhost:5432/kysely_hydrate_test
