name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  id-token: write # Required for OIDC.
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: "npm"
      - run: npm ci
      # TODO: Check the package.
      - run: npm run build
      - run: npm publish --access public
